<h1>List Food</h1>

<div class="wrapper-sm" ng-controller="FoodCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <div kendo-grid
                 k-options="mainGridOptions"
                 k-selectable="true"
                 k-filterable='{ extra: false, messages: { info: "Filter by: " }, operators: { string: { contains: "Contains", startswith: "Starts with" } } }'
                 k-toolbar='[ { template: vm.toolbarTemplate() } ]'></div>
        </div>
    </div>
    <script type="text/x-kendo-template" id="toolbar">
        <div>
            <div class="toolbar">

                <button kendo-button ng-click="vm.create(this)"><span class="fa fa-plus-circle"></span>&nbsp;Thêm</button>

            </div>

        </div>
    </script>
</div>
